#header {
    // background-color: red;
    height: 70px;
    line-height: 70px;
    a {
        color: black;
        padding-bottom: 10px;
        border-bottom:2px solid transparent ;
        &:hover {
            border-color: #f8b653;
        }
    }
}